// html,
// body {
// 	height: 100%;
// 	width: 100%;
// 	// background: #3d4d41;
// 	// background: lighten(#c6dad5, 9%);
// 	// background: url('../assets/igor-miske-N0u8bLrB_-g-unsplash.jpg');
// 	background: url('../assets/jonathan-pielmayer-Gn64mz9hTqE-unsplash.jpg'); //like
// 	// background: url('../assets/pepe-nero-FHtP6sKF7bY-unsplash.jpg');
// 	// background: url('../assets/toa-heftiba-Y5HDSClIVeM-unsplash.jpg');
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

.login-panel {
	margin-top: 5%;
	border: 1px solid lightgrey;
	padding: 20px 40px 40px 40px;
	border-radius: 5px;
	background: #3d4d41;
	// background-color: white;
	text-align: center;
	color: white;
	font-size: 3em;
	font-family: $header;
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width: 50%;

	&:hover {
		width: 50.2%;
		box-shadow: 5px 5px 15px darken(#c6dad5, 15%);
	}

	.login-input {
		width: 100%;
		height: 35px;
		margin-top: 10px;
		border-radius: 5px;
	}

	.login-button {
		margin-top: 20px;
		width: 100%;
		height: 3rem;
		border-radius: 5px;
		&:hover {
			background: black;
			color: white;
		}
	}

	.hidden {
		display: none;
	}
}
