//Navigation Animation
$nav-duration: .2s;
$nav-distance: 8px;
$nav-easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

//Fonts
$header: 'Red Hat Display', sans-serif;
$body: 'Work Sans', sans-serif;

//Colors
$bg-dark: #3d4d41;
$nav-gray: #c6dad5;
$nav-hover: lighten(#c6dad5, 9%);
$white: white;
